<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Iteration in Thymeleaf</title>
  <link th:href="@{/css/demo.css}"
        rel="stylesheet" />
</head>
<body>
<table border="2">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Gender</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.name}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.role}"></td>
    <td th:text="${user.gender}"></td>
  </tr>
  </tbody>
</table>
  <br><br>
    <h1 draggable="true" th:text="${pesma1}" style="color: blueviolet;"></h1>
    <h1 th:text="${pesma2}" 
    style="
      text-decoration: darkorange;
      color: rgb(238, 106, 155);
      border: black;
      font-style: italic;
      "></h1>
  <br><br>
  <a th:href="@{/variable-expression}">variable-expression</a> <br>
  <a th:href="@{/selection-expression}">selection-expression</a> <br>
  <a th:href="@{/message-expression}">message-expression</a> <br>
</body>
</html>